.sideMenu {
  background: #fff;
  display: inline-block;
  height: 100vh;
  position: fixed;
  top: 80px;
}
.sideMenu ul {
  list-style: none;
  padding: 0 25px;
  box-sizing: border-box;
  text-align: left;
  border-bottom: 1px solid gray;
}
.sideMenu ul:last-child {
  border-bottom: none;
}

.sideMenu ul li {
  padding: 20px 0;
  min-height: 60px;
  box-sizing: border-box;
}

.sideMenu li svg {
  margin-right: 35px;
}
