.videoBox {
  width: 68%;
  margin-right: 15px;
  min-width: 320px;
  min-height: 100vh;
  display: inline-block;
  vertical-align: top;
}
.videoBox iframe {
  width: 100%;
}

.relativeList {
  width: 30%;
  min-height: 100vh;
  display: inline-block;
  background: #fff;
}
